/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(172, 171, 171);
    background-image: url("./assets/bkimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
